<footer class="footer-section">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-logo">
                    <img src="assets/logo/Bu Logo golden (1).png" alt="Logo">
                    <p> Purveyors of rare Arabian fragrances since 2008. Crafted for those who refuse the ordinary.
                    </p>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/buabdullahperfumes/" target="_blank"><i
                                class="bi bi-instagram"></i></a>
                        <a href="https://x.com/PerfumesTrading" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://www.facebook.com/p/Bu-Abdullah-Perfumes-Cosmetics-Trading-61579115798440/"
                            target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.youtube.com/@AbdullahParfum" target="_blank"><i
                                class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-links">
                    <h6>COLLECTIONS</h6>
                    <ul>
                        <li><a routerLink="/new-arrivals">New Arrivals</a></li>
                        <li><a routerLink="/oud">Oud Royale</a></li>
                        <li><a routerLink="/floral">Floral Garden</a></li>
                        <li><a routerLink="/mens">Men's Signature</a></li>
                        <li><a routerLink="/womens">Women's Attar</a></li>
                        <li><a routerLink="/gift">Gift Sets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-links">
                    <h6>COMPANY</h6>
                    <ul>
                        <li><a routerLink="/about-us">Our Story</a></li>
                        <li><a routerLink="/master-perfumer">Master Perfumer</a></li>
                        <li><a routerLink="/sustainability">Sustainability</a></li>
                        <li><a routerLink="/press">Press & Media</a></li>
                        <li><a routerLink="/careers">Careers</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-links">
                    <h6>SUPPORT</h6>
                    <ul>
                        <li>
                            <a routerLink="/privacy-policy" routerLinkActive="active-link"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Privacy Policy
                            </a>
                        </li>

                        <li>
                            <a routerLink="/refund-policy" routerLinkActive="active-link"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Return & Refund Policy
                            </a>
                        </li>

                        <li>
                            <a routerLink="/terms" routerLinkActive="active-link"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Terms & Conditions
                            </a>
                        </li>

                        <li>
                            <a routerLink="/shipping-policy" routerLinkActive="active-link"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Shipping Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="footer-links">
                    <h6>SUPPORT</h6>
                    <ul>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/refund-policy">Return & Refund Policy</a></li>
                        <li><a routerLink="/terms">Terms & Conditions</a></li>
                        <li><a routerLink="/shipping-policy">Shipping Policy</a></li>
                    
                    </ul>
                </div> -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-contact">
                    <h6>CONTACT</h6>
                    <ul>
                        <li><i class="bi bi-geo-alt-fill"></i> Al Olaya District, Riyadh, Saudi Arabia</li>
                        <li> <i class="bi bi-telephone-fill"></i> +966 11 234 5678 </li>
                        <li> <i class="bi bi-envelope-fill"></i> hello@buabdullah.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p> © 2026 BU Abdullah Perfumes. All Rights Reserved. </p>
            <div class="footer-policy">
                <a href="#">Terms</a>
                <a href="#">Privacy</a>
                <a href="#">Cookies</a>
            </div>
        </div>
    </div>
    <a href="https://wa.me/966112345678?text=Hello%20BU%20Abdullah%20Perfumes,%20I%20need%20more%20information."
        class="whatsapp-sticky" target="_blank" aria-label="Chat on WhatsApp"><i class="bi bi-whatsapp"></i>
    </a>
</footer>